
<h1>Iniciar Sesión</h1>
<hr />
<form method="post" action="/Account/Login">
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Contraseña" />
    </div>
    <br />
    <button class="btn btn-primary"
            type="submit">
        Login
    </button>
</form>